body {
  background: #084837;
  color: #a9ba7a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  margin: 0;
  padding: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
    
    
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-score-container {
  margin-bottom: 1em;
}

.App-cards-container {
  display: flex;
  justify-content: center;
}

.App-cards-container img {
  width: 50%;
}

.App-btn {
  border-radius: 0.25em;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 1em;
  padding: 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 5em;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.App-loader {
  display: inline-block;
  width: 5em;
  height: 5em;
  border: 0.25em solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}